<nav class="pagination" aria-label="pagination" (click)="onClickPagination()">
  <ul class="pagination mb-0">
    <li class="page-item" *ngIf="firstItem > 1">
      <button class="page-link" type="button">Previous</button>
    </li>

    <li class="page-item active">
      <button class="page-link" type="button">{{ firstItem }}</button>
    </li>

    <li class="page-item" *ngIf="secondItem <= totalItems">
      <button class="page-link" type="button">{{ secondItem }}</button>
    </li>

    <li class="page-item" *ngIf="thirdItem <= totalItems">
      <button class="page-link" type="button">{{ thirdItem }}</button>
    </li>

    <li class="page-item" *ngIf="fourthItem <= totalItems">
      <button class="page-link" type="button">{{ fourthItem }}</button>
    </li>

    <ng-template [ngIf]="fifthItem <= totalItems">
      <li class="page-item">
        <button class="page-link" type="button">{{ fifthItem }}</button>
      </li>

      <li class="page-item">
        <button class="page-link" type="button">Next</button>
      </li>
    </ng-template>
  </ul>
</nav>
