<div class="row">
  <div class="offset-md-3 col-md-6">
    <ng-template [ngIf]="accountFormFeedback.messages.success.length > 0">
      <app-alert-dismissible status="success" [dismissible]="true" (dismissAlert)="onClearFormMessage(accountFormFeedback.messages.success, i)" *ngFor="let successMessage of accountFormFeedback.messages.success; let i = index">
        {{ successMessage }}
      </app-alert-dismissible>
    </ng-template>

    <ng-template [ngIf]="accountFormFeedback.messages.error.length > 0">
      <app-alert-dismissible status="danger" [dismissible]="true" (dismissAlert)="onClearFormMessage(accountFormFeedback.messages.error, i)" *ngFor="let errorMessage of accountFormFeedback.messages.error; let i = index">
        {{ errorMessage }}
      </app-alert-dismissible>
    </ng-template>

    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="first-name">First name</label>
        <input id="first-name" [ngClass]="onSetInputClass('firstName')" type="text" formControlName="firstName" placeholder="First name" />

        <ng-template [ngIf]="onShowFieldErrors('firstName')">
          <div [ngClass]="onSetFirstNameFirstErrorClass()">First name is required</div>
          <div [ngClass]="onSetFirstNameSecondErrorClass()">Minimum 3 characters required</div>
        </ng-template>
      </div>

      <div class="form-group">
        <label for="last-name">Last name</label>
        <input id="last-name" [ngClass]="onSetInputClass('lastName')" type="text" formControlName="lastName" placeholder="Last name" />

        <div [ngClass]="onSetLastNameErrorClass()">Last name is required</div>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input id="email" [ngClass]="onSetInputClass('email')" type="email" formControlName="email" placeholder="E-mail" />

        <ng-template [ngIf]="onShowFieldErrors('email')">
          <div [ngClass]="onSetEmailFirstErrorClass()">E-mail is required</div>
          <div [ngClass]="onSetEmailSecondErrorClass()">Invalid e-mail</div>
        </ng-template>

        <ng-template [ngIf]="accountFormFeedback.fieldsErrors.email.length > 0">
          <app-alert-dismissible status="danger" [dismissible]="true" (dismissAlert)="onClearFormMessage(accountFormFeedback.fieldsErrors.email, i)" *ngFor="let errorMessage of accountFormFeedback.fieldsErrors.email; let i = index">
            {{ errorMessage }}
          </app-alert-dismissible>
        </ng-template>
      </div>

      <button class="btn btn-primary mr-2" type="submit" [disabled]="!accountForm.valid || accountForm.pristine">Save</button>
      <button class="btn btn-light" type="button" [disabled]="accountForm.pristine" (click)="accountForm.reset()">Reset form</button>
    </form>
  </div>
</div>
