<app-loader *ngIf="loading"></app-loader>

<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h1 class="page-title">Register</h1>

  <div class="form-group">
    <label for="first-name">First name</label>
    <input id="first-name" [ngClass]="onSetInputClass('firstName')" type="text" formControlName="firstName" />

    <ng-template [ngIf]="onShowFieldErrors('firstName')">
      <div [ngClass]="onSetFirstNameErrorClass()">First name is required</div>
    </ng-template>
  </div>

  <div class="form-group">
    <label for="last-name">Last name</label>
    <input id="last-name" [ngClass]="onSetInputClass('lastName')" type="text" formControlName="lastName" />

    <ng-template [ngIf]="onShowFieldErrors('lastName')">
      <div [ngClass]="onSetLastNameErrorClass()">Last name is required</div>
    </ng-template>
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input id="email" [ngClass]="onSetInputClass('email')" type="text" formControlName="email" />

    <ng-template [ngIf]="onShowFieldErrors('email')">
      <div [ngClass]="onSetEmailFirstErrorClass()">E-mail is required</div>
      <div [ngClass]="onSetEmailSecondErrorClass()">Invalid e-mail</div>
    </ng-template>

    <ng-template [ngIf]="registerFormFeedback.fieldsErrors.email.length > 0">
      <app-alert-dismissible status="danger" [dismissible]="true" (dismissAlert)="onClearFormMessage(registerFormFeedback.fieldsErrors.email, i)" *ngFor="let errorMessage of registerFormFeedback.fieldsErrors.email; let i = index">
        {{ errorMessage }}
      </app-alert-dismissible>
    </ng-template>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" [ngClass]="{ 'form-control': true, 'is-invalid': registerForm.get('password').touched && registerForm.get('password').invalid }" type="password" formControlName="password" />

    <ng-template [ngIf]="onShowFieldErrors('password')">
      <div [ngClass]="onSetPasswordFirstErrorClass()">Password is required</div>
      <div [ngClass]="onSetPasswordSecondErrorClass()">Minimum 3 characters required</div>
    </ng-template>

    <ng-template [ngIf]="registerFormFeedback.fieldsErrors.password.length > 0">
      <app-alert-dismissible status="danger" [dismissible]="true" (dismissAlert)="onClearFormMessage(registerFormFeedback.fieldsErrors.password, i)" *ngFor="let errorMessage of registerFormFeedback.fieldsErrors.password; let i = index">
        {{ errorMessage }}
      </app-alert-dismissible>
    </ng-template>
  </div>

  <button class="btn btn-primary d-block mx-auto" type="submit" [disabled]="!registerForm.valid || registerForm.pristine">Submit</button>

  <div class="text-center">
    <hr class="mt-4" />
    Aleady have an account? <a [routerLink]="['/login']">Login</a>
  </div>
</form>
