<aside>
  <div class="list-group">
    <button
      [ngClass]="{
        'list-group-item list-group-item-action d-flex justify-content-between align-items-center': true,
        'active': isCategoryActive(category.name)
      }"
      type="button"
      data-name="{{ category.name }}"
      (click)="selectCategory(category.name)"
      *ngFor="let category of categories"
    >
      {{ category.name }}
      <span class="badge badge-primary badge-pill">{{ category.posts }}</span>
    </button>
  </div>
</aside>
