<main data-component="blog">
  <app-loader *ngIf="loading"></app-loader>

  <div class="container">
    <app-page-header [fontAwesomeIcon]="faNewspaper">Blog</app-page-header>

    <app-posts-filter (filterPosts)="onFilterPosts()"></app-posts-filter>

    <div class="row">
      <div class="col-md-9">
        <app-posts [data]="pagePosts" [page]="currentPage"></app-posts>

        <app-pagination [firstItem]="firstPaginationItem" [totalItems]="pagePosts.length" (paginate)="onPaginate()"></app-pagination>
      </div>
      <div class="col-md-3">
        <app-categories [data]="categories" (selectCategory)="onSelectCategory()"></app-categories>
      </div>
    </div>
  </div>
</main>
