<main data-component="blog">
  <app-loader *ngIf="loader"></app-loader>

  <div class="container">
    <app-page-header [fontAwesomeIcon]="faNewspaper">Blog</app-page-header>

    <app-posts-filter (filterPosts)="onFilterPosts()"></app-posts-filter>

    <div class="row">
      <div class="col-md-9">
        <app-posts [posts]="pagePosts" page="{{ currentPage }}"></app-posts>
        <!-- <Posts posts={this.state.pagePosts} currentPage={this.state.currentPage} /> -->

        <!-- <Pagination
          firstItem={this.state.firstPaginationItem}
          totalItems={this.state.pagePosts.length}
          paginate={(event) => this.handlePagination(event)}
        /> -->
      </div>
      <div class="col-md-3">
        <!-- <Categories categories={this.props.categories} click={(event) => this.handleSelectCategory(event)} /> -->
      </div>
    </div>
  </div>
</main>
